footer{
    display: flex;
}
.social-medias{
    border-style: groove;
    background-color: transparent;
    width: 1500px;
    height: 500px;
    margin: 1 auto;
    align-items: center;
    justify-content: center;
}
.social-medias-buttons{
    width: 50px;
    height: 50px;
}
.forms-more-help{
    display: flex;
}
.forms-more-help-form{
    padding: 20px;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    
}
.send-forms{
    background-color: transparent;
    border-style: ridge;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 150px;
    height: 50px;
    font-size: 15px;
    border: transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.send-forms:hover{
    background-color: rgb(169, 190, 190);
}
.flex-col{
    width: 300px;
    margin-bottom: 10px;
}
.upper-input-forms{
    color: grey;
    display: grid;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 20px;
}
.input-forms-more-help{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    width: 250px;
    background-color: transparent;
}